body{
    background-color:#861ae6;
}         
                      /*****header*****/
h1{
    text-align:center;
    font-size:2em;
}
nav {
    text-align: justify;
    padding: 70px 0px;width:100%;
}
  nav ul {
    text-align: center;
    list-style:none;
    box-shadow: 0 0 25px rgba(0,0,0,0.7);
  }
     nav ul li{
       display:inline-block;
       width:120px;
       margin:20px;
     }
        nav ul li a {
           padding: 15px;
           color: #8dffff;
           font-size: 20px;
           font-family: Arial;
           text-decoration: none;
        }
        nav ul li a:hover {color:#fff;}
        nav ul li a:active,#CV:active{color:#ffd800;}
#CV:hover{color:#036711;}
#CV:active{color:#ffd800;}
img{
    height:400px;
    border-radius:200px;
    float:left;
    padding-right:120px;
}                       /*****end of header*****/
#space{padding-top:10px;padding-bottom:5px;}
hr{width:30%;float:left}
h3:nth-of-type(1){text-align:inherit;}
h3:nth-of-type(2){clear:both;} 
summary p{font-weight: 600;}
details p{text-indent:25px;font-weight:initial;}
ol li p{text-indent:30px;font-style:italic;}
.pointer{list-style-type: '*  ' ;}
#poin{list-style-type: lower-alpha;}
#inde{text-indent:40px;font-style:italic;}


button {
    background-color: aqua;
    border: none;
    position:relative;
    float:right;
    }
button:hover{background-color:#ffffff;}
button:active {
    background-color: #ffd800;
}
button a{
    text-decoration:none;
    color:#000;
}
/*details summary{
    list-style:none;
}
summary::-webkit-details-marker{display:none;}
summary::after{
    content:'▶';
}
details[open] summarry::after{content:'🔽'}
footer{
    height:150px;
    background-color:#b200ff;
}*/
footer div{
    background-color:#036711;
    position:relative;
    top:150px;
    text-align:center;
    color:white;
}
